In [103]:
import pandas as pd

### Задание 1

In [104]:
movies = pd.read_csv("C:\\Users\\EkzoQ\\Desktop\\ml-latest-small\\movies.csv")
ratings = pd.read_csv("C:\\Users\\EkzoQ\\Desktop\\ml-latest-small\\ratings.csv")

In [105]:
def f1(x):
    if x <= 2:
        return "низкий рейтинг"
    elif 2 < x <= 4:
        return "средний рейтинг"
    else:
        return "высокий рейтинг"

In [106]:
ratings_mean = ratings.groupby("movieId").mean()
ratings_mean["class"] = ratings_mean["rating"].apply(f1)

In [115]:
movies_new = ratings_mean.merge(movies, on = "movieId", how = "left")[["movieId", "title", "genres", "rating", "class"]]
movies_new.head()

,movieId,title,genres,rating,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.872470,средний рейтинг
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.401869,средний рейтинг
2,3,Grumpier Old Men (1995),Comedy|Romance,3.161017,средний рейтинг
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.384615,средний рейтинг
4,5,Father of the Bride Part II (1995),Comedy,3.267857,средний рейтинг

### Задание 2

In [237]:
keywords = pd.read_csv("keywords.csv")
geo_data = {'Центр': ['москва', 'тула', 'ярославль'], 'Северо-Запад': ['петербург', 'псков', 'мурманск'], 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [238]:
def f2(y):
    for key, value in geo_data.items():
        for name in value:
            if name in y["keyword"]:
                return key
    else:
        return 'undefined'

In [239]:
keywords["region"] = keywords.apply(f2, axis = 1)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined